footer {

  &.footer {
    text-align: left;
    padding: 15px 0;
    width: 100%;
    background: #1C1C1C;
    color: #666;
    border-top: 1px solid #181818;
  }

  .fa-social {
    margin-right: 15px;
    margin-top: 10px;
  }

  .footer-bold {
    font-weight: 900;
  }

  ul {

    &.list-unstyled {

      li {
        margin-bottom: 5px;
      }

    }

  }

}
