<div class="container">
  <div class="row">
    <div class="col-md-3">
      <a href="#"><i class="fa fa-google-plus-square fa-lg fa-social"></i></a>
      <a href="#"><i class="fa fa-facebook-square fa-lg fa-social"></i></a>
      <a href="#"><i class="fa fa-twitter fa-lg fa-social"></i></a>
    </div>
    <div class="col-md-3">
      <h5 class="footer-bold">DOGZ</h5>
      <ul class="list-unstyled">
        <li><a ui-sref="main">Homepage</a></li>
        <li><a href="#">Datebase</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h5 class="footer-bold">Helpdesk</h5>
      <ul class="list-unstyled">
        <li><a href="#">Technical Support</a></li>
        <li><a href="#">Contact with Us</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h5 class="footer-bold">© 2016 DOGZ. All Rights Reserved.</h5>
      <ul class="list-unstyled">
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">User Forums</a></li>
      </ul>
    </div>
  </div>
</div>
