$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import '../bower_components/bootstrap-social/bootstrap-social.scss';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

@import '../assets/scss/config';
@import '../assets/scss/typography';


/**
 * App-wide Styles
 */

body {
  font-family: 'DINWeb', sans-serif;
  margin: 80px 0 0;
  background-color: $base-color;
}

a {
  color: $font-color-dark;

  &:hover {
    color: $font-color-lighter;
    text-decoration: none;
  }

  &:focus {
    color: $font-color-dark;
  }
}

p {
  font-size: 18px;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.btn-flat {
  border-radius: 0;
}

.btn-carrot {
  background-color: $base-main-color;
  color: $font-color-lighter;

  &:hover {
    background-color: $base-darker-main-color;
    color: $font-color-lighter;
  }

  &:focus {
    background-color: $base-main-color;
    color: $font-color-lighter;
    outline: none;
  }
}

.mb {
  margin-bottom: 30px;
}

// Component styles are injected through grunt
// injector
@import 'admin/admin.scss';
@import 'main/main.scss';
@import '../components/footer/footer.scss';
@import '../components/modal/modal.scss';
@import '../components/navbar/navbar.scss';
@import '../components/oauth-buttons/oauth-buttons.scss';
// endinjector
